@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background-color: #1F1F3D;
  color: white;
}

header {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 30px 100px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
}

.toggle-menu {
  position: relative;
  background: url(assets/toggle.png);
  background-size: 30px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: #021F4B;
  mix-blend-mode: overlay;
}

.text {
  z-index: 100;
  position: relative;
}

.text h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.text p {
  font-size: 1rem;
  margin: 10px 0;
}
