h1 {
  background-color: aqua;
  color: blue;
  padding: 10px;
}
h2 {
  color: blueviolet;
  background-color: chartreuse;
  padding: 20px;
}
ul {
  color: crimson;
}
h3 {
  color: dodgerblue;
  padding: auto;
  border: 4px solid yellowgreen;
}
p {
  background-color: blueviolet;
  color: lemonchiffon;
  background-color: 10px;
  border: 4px solid blue;
  margin: 40px;
}
