@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Zen Dots';
}

header {
  min-height: 100vh;
  background-image: url(./images/wallpaper.png);
  object-fit: contain;
  position: relative;
  color: white;
  z-index: -1;
}

.intro-text {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
  max-width: 600px;

}

.intro-text h1 {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.intro-text h3 {
  font-size: 20px;
  text-transform: uppercase;
}

.first-bitcoin {
  height: 150px;
  position: absolute;
  top: 25%;
  right: 12%;
  z-index: -1;
}

.second-bitcoin {
  height: 250px;
  position: absolute;
  top: 50%;
  right: 2%;
}

section {
  min-height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 10px 20px;
  width: 600px;
  height: 550px;
  border: 1px solid #1E4469;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 53, 85, 0.50);
}

.text-section {
  font-size: 24px;
  color: #1E4469;
  padding: 20px 0 20px 170px;
}

p {
  font-size: 16px;
}
