/* <body> */
body {
  background-color: lightgrey;
}

/* <button> */
button {
  display: block;
  margin-left: 0;
  font-size: 24px;
  padding: 15px 25px;
}

image {
  width: fit-content;
}

h1 {
  color: red;
}

/* <h2> */
h3 {
  text-align: justify;
  color: blue;
  text-size-adjust: 10px;
}

h4 {
  color: blue;
  margin-left: 0;
  text-align:left;
}
