@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@100;500&display=swap");

body {
  background-color: lavender;
  font-family: "Montserrat", sans-serif;
  font-size: larger;
}

.member {
  display: inline-flexbox;
  border-radius: 5px;
  color: whitesmoke;
  font-size: 20px;
  padding: 5px 10px;
  background-color: purple;
  text-align: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 7px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

h1 {
  border-radius: 3px;
  display:inline-flexbox;
  width: 800px;
  padding: 10px;
  margin: 0 auto;
  background-color: rgb(210, 183, 240);
  text-align: center;
}

p {
  text-align: left;
  text-decoration-color: lavender;
}

.start {
  font-size: 25px;
  text-align: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed ;
}

.price-list {
  text-align: center;
  text-decoration: none;
  background-image: url(https://miro.medium.com/max/3062/1*sHII9He7gMmoL5ngX315XA.png);
  size: 700px;
  font-size: 30px;
  font-weight: 500;
}

/* .about {
  color: royalblue;
  text-align: center;
} */

.header-image {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

h2 {
text-align: center;
}

.about-oils {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem;
}

.ningxia {
  width: 950px;
  height: 500px;
}
