body {
  color:rgb(5, 5, 5);
  background:rgb(241, 233, 233);
}

@media (prefers-color-scheme: dark) {
  body {
    color:rgb(244, 245, 233);
    background: rgb(2, 1, 1);
  }
}

.patrat {
  background-color: rgb(213, 204, 228);
  align-self: start;
  padding-top: 50%;
  color: rgb(12, 12, 12);
}

.gridul-meu {
  /* border: 10px dotted rgb(231, 29, 29); */
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 15px;
  column-width: stretch;
}

.dreptunghi {
  padding-top: 50%;
  background-color: rgb(106, 106, 230);
  align-self: start;
}

[plin] {
  background-color: rgb(173, 199, 146);
  grid-column: 1/-1;
  height: 100px;
  padding-top: 0;
}

@media screen and (min-width: 768px) { 
  .gridul-meu {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
    margin: 0 30px;
    column-width: stretch;
  }
}

@media screen and (min-width: 1024px) {
  .gridul-meu {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    margin: 0 130px;
    column-width: stretch;
  }
}

/* @media screen and (orientation: landscape) {
  .gridul-meu {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    margin: 0 130px;
    column-width: stretch;
  } 
} */
